
@{
    ViewBag.Title = "EducationDetails";
}

<br />
<ul id="tabstrip" class="nav nav-tabs" role="tablist">
    <li><a href="/Applications/PersonalInfo" role="tab">Personal Information</a></li>
    <li class="active"><a href="/Applications/EducationDetails" role="tab">Educational Details</a></li>
    <li><a href="/Applications/EnclosedDocuments" role="tab">Enclosed Documents</a></li>
</ul>
<!-- Tab Content Containers -->
<div class="tab-content">
    <div class="tab-pane fade" id="_PersonalInfo"></div>
    <div class="tab-pane fade in active" id="_EducationDetails">education details goes here</div>
    <div class="tab-pane fade" id="_EnclosedDocuments"></div>
</div>



